@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Bangers);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);



html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      background: #101010;
}

.data {
      font-family: Courier New;
      /* font-family: 'Anonymous Pro', monospace; */
      color: #fff;
      font-size: 70px;
      letter-spacing: 12px;
      font-weight: 500;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
}

/* test for glitch */
span {
      display: inline-block;
      color: #fff;
      pointer-events: none;
/*       position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%); */
      
}

/* Timer CSS */
#demo{
    position: absolute;
    font-size: 90px;
    font-family: "Bangers";
    transform: translateX(-50%);
    left : 50%;
    top: 80%;
}

#hash{
    position: absolute;
    font-size: 30px;
    font-family: "Bangers";
    transform: translateX(-50%);
    left : 50%;
    top: 92%;
}

.middle{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.middle1{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text{
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  letter-spacing: 14px;
}

.text1{

  font-family: 'Hanna';
  color: #fff;
  text-transform: uppercase;
  font-size: 96px;
  text-align: center;
  letter-spacing: 10px;
}

.text::before,.text::after,.text1::before,.text1::after{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text::before{
  color: #ff00c1;
  animation: glitch-effect 3s infinite;
}

.text::after{
  color: #3498db;
  animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
  0%{
    left: -2px;
    top: -2px;
  }
  25%{
    left: 2px;
    top: 0px;
  }
  50%{
    left: -1px;
    top: 2px;
  }
  75%{
    left: 1px;
    top: -1px;
  }
  100%{
    left: 0px;
    top: -2px;
  }
}

/* Until Here */

/* Image Hover */

* {
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    height: 100vh;
    background: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("http://mirkozeppieri.emanuelepapale.com/wp-content/uploads/2018/07/project-hover-cursor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    opacity: 0;
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}

.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}

.portfolio-thumb {
    /* overflow: hidden; */ /* 이미지 주변에 테두리 생기게 하고싶을 때 주석 해제. */
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

.portfolio-thumb img {
    max-width: 360px;
    opacity: 0.4;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    transform-origin: 90% center;
}

.portfolio-item:hover .portfolio-thumb {
    transform: translateX(-1.75rem);
}

.portfolio-item:hover .portfolio-thumb img {
    opacity: 0.8;
    transform: scale(1.2);
}
